#wrapper {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnmAQToYzbc-C0ymCbDRjQ6raLWdIdEWyrPw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}