
#header-logo{
    width:64px;
    height:64px;
}
#header-msg{
    font-size: 25px;
    color: white;
}
#btnOne{
    background-color:rgb(25, 120, 197);
    color:white;
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
}

#tableHead{
    background-color:rgb(25, 120, 197);
}
#searchInput{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-bottom: 1px solid #ced4da;
}
#searchInput:hover,#searchInput:focus{
    box-shadow: none;
    outline:none;
}
#back{
    background: url("https://assets.sunwingtravelgroup.com/image/upload/f_auto,q_auto/sunwing-prod/HotelImages/SXMTMR/16x9/007.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}