#back{
    background: url("https://e0.pxfuel.com/wallpapers/92/856/desktop-wallpaper-scuba-diving-high-resolution-deep-sea-diver.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}